:host {
    display: block;
}

.card-surface {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    &.clip {
        overflow: hidden;
    }
}
